extends layout

block content
  body
    .container-fluid.d-flex.h-100
      .row.justify-content-center.align-self-center.margin-center.flex-column
        .p-4.login
          h2 
            |ACCESS
            b(style="color: #00adef") TOKEN
          hr(style="width: 90%")
          p(style='color: #808080')= 'Token generated successfully. Token will be stored in ' + path + ' and will be used for futher access.'  
          .row.justify-content-center.align-self-center.margin-center.flex-column(style="overflow-wrap: anywhere;")
            p(style="margin: 0; color: #808080") 
              b(style="color: #ffffff") Access token: 
              = accessToken.access_token
            p(style="margin: 0; color: #808080") 
              b(style="color: #ffffff") Refresh token: 
              = accessToken.refresh_token
            p(style="margin: 0; color: #808080")
              b(style="color: #ffffff") Expires at: 
              = accessToken.expires_at 
          a.p-2.mb-2.ml-2.mr-2.longbutton(href='javascript:window.close();', style="margin-top: 15px") Close
        .p-2.autor
          | homebridge-mercedesme by 
          a(target='_blank', rel='noopener noreferrer', href='https://github.com/SeydX') seydx
