extends layout

block content
  body
    .container-fluid.d-flex.h-100
      .row.justify-content-center.align-self-center.margin-center.flex-column
        .p-4.login
          h2 
            |HOMEBRIDGE
            b(style="color: #00adef") MERCEDESME
          hr(style="width: 90%")
          p(style='color: #808080') Some of the mercedes APIs are using a standard based OAuth 2.0 Authorization Framework. After clicking "Start", your access data will be checked and an access token will be generated and stored for futher use.
          a.p-2.mb-2.ml-2.mr-2.longbutton(href='/auth') Start
        .p-2.autor
          | homebridge-mercedesme by 
          a(target='_blank', rel='noopener noreferrer', href='https://github.com/SeydX') seydx